* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#menu {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}

#menu>ul>li {
    float: left;
    position: relative;
}

#menu li {
    list-style-type: none;
}

#menu>ul>li>a {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    display: block;
    text-decoration: none;
    color: #000;
    background-color: rgb(224, 118, 224);
    border-bottom: 2px solid #000;
    transition: all .5s ease;
}

#menu>ul>li:hover>a {
    background-color: pink;
    border-bottom: 2px solid floralwhite;
}

#menu>ul>li:hover >ul {
    display: block;
}

#menu>ul>li>ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ccc;
}

#menu>ul>li>ul>li>a {
    display: block;
    height: 30px;
    width: 150px;
    line-height: 30px;
    padding: 0 5px;
}
